
.box{
  font-size: 35px;
  color: aqua;
}
.Rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

img {
  margin-top: 36px;
  width: 350px;
  border: 1px solid rgb(255, 251, 203);
  border-radius: 32px;
  box-shadow: 0px 0px 50px rgb(255, 235, 203);
}

.ratingBtn {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
}





button {
  margin-top: 36px;
  cursor: pointer;
  border: none;
  padding: 7px;
margin-bottom: 40px;
margin-right: 40px;
  font-size: 18px;
  color: white;
  background: linear-gradient(to right, black, rgb(50, 50, 50), black);
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 0px 20px rgb(62, 62, 62);
}

button:hover {
  background-color:  rgb(255, 224, 157);
  box-shadow: 0px 0px 20px rgb(255, 235, 203);

}

button:active {
  transform: translateY(1px);
}


ul {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-bottom: 64px;
}

li {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  border: 1px solid rgb(255, 251, 203);
  border-radius: 32px;
  box-shadow: 0px 0px 50px rgb(255, 235, 203);
  padding: 4px 16px;
  font-size: 20px;
}

